body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  text-align: center;
}

#radar-description {
  margin: auto;
  text-align: left;
  display: inline-block;
  font-size: 10pt;
}

#adopt {
  display:inline;
  color: #5ba300;
  font-weight: bold;
}

#trial {
  display:inline;
  color: #009eb0;
  font-weight: bold;
}

#assess {
  display:inline;
  color: #c7ba00;
  font-weight: bold;
}

#hold {
  display:inline;
  color: #e09b96;
  font-weight: bold;
}

#radar-container {
  width: 100vw;
  resize: both;
  overflow: auto;
}

#logo {
  margin: 2vw;
  width: 100vw;
  max-width: 300px;
}

#footer {
  margin-bottom: 3vw;
  font-size: 10pt;
}